@import 'variables';
@import 'menu';

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    line-height: 2;
    background-color: rgba($primary-color, 1);
    color: $color-white;
}


// main part
.home {
    margin:11rem 2.5rem;

    & .social-medias a{
        color: $color-white;
        margin-right: 0.7rem;
    }
}

h1,
h2 {
    margin: 0;
    font-weight: 400;
    &.name {
        font-size: 5rem;
        .last-name {
            color: #eece1a;
        }
    }

    &.about {
        font-size: 1.3rem;
        border-radius: 12px;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background-color: rgba(lighten( $primary-color, 2), 0.5);
    }
}