@import "mixins";
@import 'variables';
@import 'menu';

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    line-height: 2;
    color: $color-white;
    background-color: $primary-color;
    overflow: hidden;
}


// main part

.container {
    overflow: hidden;
    height: 100vh;
    @include background-image;
}

a {
    color: #fff;
    text-decoration: none;
}

main {
    margin:2.5rem 3.5rem;
    min-height: calc(100vh - 60px);
    
    .social-medias a{
        @include ease-out(0.3s);
        color: $color-white;
        margin-right: 0.7rem;
        
        &:nth-child(1):hover {
            color:  #4183C4;
        }
        
        &:nth-child(2):hover {
            color: #C13584;
        }
        
        &:nth-child(3):hover {
            color: #0A66C2;
        }
        
        &:nth-child(4):hover {
            color: #229ED9;
        }
    }
    &.home{
        h1 {
            margin-top: 13rem;
        }
    }
}

.text-secondary {
    color: $secondary-color;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.heading-name {
        font-size: 5rem;
    }

    &.about {
        font-size: 1.3rem;
        background-color: rgba(lighten( $primary-color, 2), 0.5);
        border-radius: 12px;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }
}


//about me
.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
    .bio-image {
        grid-area: bioimage;
        width:14rem; height: 14rem;
        border-radius: 50%;
        outline: 3px $secondary-color solid;
        margin: auto;
    }

    .bio {
        grid-area: bio;
        font-size: 1.3rem;
    }

    .job1 {
        grid-area: job1;

    }
    .job2 {
        grid-area: job2;

    }
    .job3 {
        grid-area: job3;

    }

    .job {
         padding: 0.5rem;
         background-color: lighten( $primary-color, 5);
         border-bottom: $secondary-color 5px solid;
         h3 , h5 {
            margin-bottom: 20px;
         }
    }
}


//work/projects
.projects{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(4, 1fr);

     img {
        width: 100%;
        border: 3px #ffffff solid;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include ease-out(0.5s);
        }
    }
    
}

.btn {
    display: block;
    padding: 0.5rem 0.8rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
    }
}

.btn-light {
    @extend .btn;
    background-color: lighten( $primary-color, 50);
    color: #333;
}

.btn-dark {
    @extend .btn;
    background-color: darken( $primary-color, 50);
    color: #fff;
}


//contact me
.boxes {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1rem 2.1rem;
        margin-bottom: 3rem;
        @include ease-out(0.5s);

        &:hover {
            padding: 0.2rem 1.2rem;
            background-color: $secondary-color;
            color: #333;
            span {
                color: #333;
            }
        }
    }
}

@import 'mobile';